# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.venv/
ENV/

# Node
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# OS junk
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp
